{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Compras</h1>
                </div>
                <div class="table-responsive">

                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %} {% endif %} {% endwith %}

                    <a href="{{ url_for('conta.insertContas') }}" class="btn btn-dark">Cadastrar Compra</a>
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Categoria</th>
                                <th>Estoque</th>
                                <th>Quantidade</th>
                                <th>Preço</th>
                                <th>Valor Total</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for conta in contas %}
                            <tr>
                                <td> {{ conta['produto'] }} </td>
                                <td> {{ conta['categoria'] }} </td>
                                <td> {{ conta['estoque'] }} </td>
                                <td> {{ conta['quantidade'] }} </td>
                                <td> {{ conta['preco'] }} </td>
                                <td> {{ conta['valor_total'] }} </td>
                                <td><a href="{{ url_for('conta.editContas', conta=conta['_id']) }}">Editar</a></td>
                                <td><a href="{{ url_for('conta.deleteContas', conta=conta['_id']) }}">Excluir</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
{% endblock %}